

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
    <p>
  <a class="btn btn-success" asp-controller="Movies" asp-action="Movie">Add movie</a>
  <a class="btn btn-success" asp-controller="Movies" asp-action="MovieDetails">See a movie`s details</a>
    </p>
    <p>
  <a class="btn btn-success" asp-controller="Movies" asp-action="ChangeDetails">Change a movie`s details</a>
  <a class="btn btn-success" asp-controller="Movies" asp-action="DeleteMovie">Delete a movie</a>
    </p>

    
</div>
