@model string
<form asp-action="SeeDetails">
    <div class="text-center">
        <h1 class="display-4">Enter movie title</h1>
        <input type="text" name="movieTitle" />
    </div>
    <p style="text-align: center;">
        @TempData["MovieNotFound"]
    </p>
</form>
