@model Test.Models.ViewModels.MovieViewModel
<form asp-action="SeeDetails">
    <div class="text-center">
        <h1 class="display-4">Enter movie title you nigger</h1>
        <input type="text" asp-for="Title" />
    </div>
</form>
